@charset "UTF-8";
@import url(../node_modules/normalize.css/normalize.css);
/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
.m-b-10 {
  margin-bottom: 10px !important; }

.m-l-10 {
  margin-left: 10px !important; }

.m-r-10 {
  margin-right: 10px !important; }

.m-t-10 {
  margin-top: 10px !important; }

.m-b-30 {
  margin-bottom: 30px !important; }

.m-l-30 {
  margin-left: 30px !important; }

.m-r-30 {
  margin-right: 30px !important; }

.m-t-30 {
  margin-top: 30px !important; }

.p-b-30 {
  padding-bottom: 30px !important; }

.p-l-30 {
  padding-left: 30px !important; }

.p-r-30 {
  padding-right: 30px !important; }

.p-t-30 {
  padding-top: 30px !important; }

.letter-spacing-unset {
  letter-spacing: unset !important; }

.container-1140 {
  max-width: 1140px;
  width: 100%; }

.margin-center {
  margin-left: auto;
  margin-right: auto; }

.text-center {
  text-align: center; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: local("Montserrat Thin"), local("Montserrat-Thin"), url(../../fonts/Montserrat/Montserrat-Thin.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: local("Montserrat ExtraLight"), local("Montserrat-ExtraLight"), url(../../fonts/Montserrat/Montserrat-ExtraLight.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 300;
  src: local("Montserrat Light"), local("Montserrat-Light"), url(../../fonts/Montserrat/Montserrat-Light.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url(../../fonts/Montserrat/Montserrat-Regular.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url(../../fonts/Montserrat/Montserrat-Medium.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 600;
  src: local("Montserrat SemiBold"), local("Montserrat-SemiBold"), url(../../fonts/Montserrat/Montserrat-SemiBold.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url(../../fonts/Montserrat/Montserrat-Bold.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 800;
  src: local("Montserrat ExtraBold"), local("Montserrat-ExtraBold"), url(../../fonts/Montserrat/Montserrat-ExtraBold.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: local("Montserrat Black"), local("Montserrat-Black"), url(../../fonts/Montserrat/Montserrat-Black.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url(../../fonts/Open_Sans/OpenSans-Light.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans Regular"), local("OpenSans-Regular"), url(../../fonts/Open_Sans/OpenSans-Regular.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans SemiBold"), local("OpenSans-SemiBold"), url(../../fonts/Open_Sans/OpenSans-SemiBold.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url(../../fonts/Open_Sans/OpenSans-Bold.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local("Open Sans ExtraBold"), local("OpenSans-ExtraBold"), url(../../fonts/Open_Sans/OpenSans-ExtraBold.ttf) format("woff2");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215; }

/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
/*================================================= style-guide ======================================================*/
* {
  box-sizing: border-box; }

h1,
h2,
h3,
h4 {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  color: #4A4A4A; }

h1 {
  font-size: 24px;
  font-weight: 600; }

h2 {
  font-size: 20px;
  font-weight: 600; }

h3 {
  font-size: 16px;
  font-weight: 500; }

h4 {
  font-size: 11px;
  text-transform: uppercase;
  color: #A4A09F; }

p {
  margin: 0;
  font-size: 14px;
  font-family: 'Open Sans';
  line-height: 24px;
  color: #6D6D6D; }

input,
select,
textarea {
  font-size: 14px;
  font-family: 'Times New Roman', 'MS Serif';
  color: #4A4A4A; }

ul {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

.button {
  display: inline-block;
  height: 35px;
  padding: 0 22px;
  border-radius: 3px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  letter-spacing: 1px;
  line-height: 35px;
  text-align: center;
  cursor: pointer; }

.button.button-blue {
  background-color: #87CFFF; }

.button.button-blue:hover {
  background-color: #78C3F4; }

.button.button-blue.disabled {
  background-color: #E4F4FF;
  color: #C2DFF1; }

.button.button-red {
  background-color: #FF8C76; }

.button.button-red:hover {
  background-color: #F57E68; }

.button.button-red.disabled {
  background-color: #FFE0DA;
  color: #F9C0B5; }

.button.button-yellow {
  background-color: #FFE07A; }

.button.button-yellow:hover {
  background-color: #F5D66E; }

.button.button-yellow.disabled {
  background-color: #FFF6D9;
  color: #F9E39C; }

.button.button-lilac {
  background-color: #887ACC; }

.button.button-lilac:hover {
  background-color: #7566BB; }

.button.button-lilac.disabled {
  background-color: #E1DEF2;
  color: #C3BBEA; }

.button.button-green {
  background-color: #27C79A; }

.button.button-green:hover {
  background-color: #1DB48A; }

.button.button-green.disabled {
  background-color: #D8F5ED;
  color: #B8D1CA; }

.link,
.button-secondary {
  display: inline-block;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  line-height: 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer; }

.button-secondary {
  height: 35px;
  padding: 10px 22px; }

.link,
.button-secondary.button-green {
  color: #27C79A; }

.link:hover,
.button-secondary.button-green:hover {
  color: #1DB48A; }

.link.link-secondary,
.button-secondary.button-silver {
  color: #D1D0D0; }

.link.link-secondary:hover,
.button-secondary.button-silver:hover {
  color: #A4A09F; }

/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
.breadcrumbs-item:not(:last-child):after {
  content: '›';
  display: inline-block;
  margin: 0 6px;
  font-size: 18px;
  color: #C5C5C5; }

/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
.dropdown {
  position: relative;
  cursor: pointer;
  padding-right: 18px; }

.dropdown:after {
  content: '﹀';
  position: absolute;
  top: 50%;
  right: 0px;
  transform: translateY(-50%);
  font-size: 16px;
  font-family: serif;
  color: #FFFFFF; }

.dropdown-menu {
  display: none; }

.dropdown:hover .dropdown-menu {
  display: block; }

.dropdown-menu {
  margin: 0;
  padding: 4px 0px;
  position: absolute;
  bottom: 0;
  right: 0;
  transform: translateY(100%) translateX(20%);
  min-width: 100px;
  min-height: 20px;
  border: 1px solid #E8EEF4;
  border-radius: 4px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  font-weight: 500;
  color: #4A4A4A; }

.dropdown-menu:after {
  content: '';
  position: absolute;
  top: -6px;
  right: 19px;
  display: block;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 6px solid white; }

.dropdown-menu-item {
  padding: 2px; }

.dropdown-menu-item:hover {
  background: #27C79A;
  color: #FFFFFF; }

/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
/*======================= header ===========================*/
.header {
  height: 60px;
  background-color: #2D3F51; }

.product-title {
  position: relative;
  width: 300px;
  padding: 20px 10px 20px 55px;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  line-height: 1.2; }

.user-profile {
  display: flex;
  align-items: center;
  position: absolute;
  top: 20px;
  right: 54px; }

.user-info {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  text-align: right;
  text-transform: capitalize;
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  line-height: 14px;
  color: white; }

.user-role {
  font-weight: 100; }

.user-icon {
  height: 20px;
  font-family: 'Montserrat', sans-serif; }

html,
body {
  margin: 0;
  padding: 0;
  background-color: #FBFBFB; }

.page-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; }

.page-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column; }

.content-centered {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center; }

/*================================================== footer ==========================================================*/
.footer {
  min-height: 80px;
  padding: 20px 55px;
  background-color: #FFFFFF; }

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.dpf-logo {
  width: 123px;
  height: 43px;
  font-family: "Open Sans";
  font-size: 13px;
  text-transform: uppercase;
  color: #A4A09F; }

.support {
  color: #A4A09F;
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 16px; }

.copyright p {
  color: #A4A09F;
  font-family: "Open Sans";
  font-size: 11px;
  line-height: 16px;
  text-align: right; }

@media screen and (max-width: 768px) {
  .footer {
    padding-right: 0;
    padding-left: 0; }
  .footer-content {
    flex-direction: column;
    align-items: left;
    margin: auto;
    width: 252px; }
  .footer .dpf-logo,
  .footer .support,
  .footer .copyright {
    margin-bottom: 10px; }
  .copyright p {
    text-align: left; } }

/*================================================ login page ========================================================*/
.login {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 460px;
  width: 880px;
  padding: 0 88px;
  border: 0.5px solid #F0F0F0;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13); }

.login-title {
  margin-bottom: 12px; }

.login-pic {
  margin-bottom: 48px;
  height: 208px;
  width: 286px; }

@media screen and (max-width: 768px) {
  .login {
    flex-direction: column-reverse;
    justify-content: center;
    padding: 0; }
  .login-content {
    display: flex;
    flex-direction: column; } }

/*================================================ intro page ========================================================*/
.intro {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 520px;
  width: 440px;
  padding-top: 40px;
  border: 0.5px solid #F0F0F0;
  border-radius: 5px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13); }

.intro:before {
  content: '';
  display: block;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 20px;
  right: 20px;
  background: url("../../img/icons/audio.svg") no-repeat; }

.intro-pic {
  width: 225px;
  height: 184px; }

.intro-content {
  width: 346px; }

.intro-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 64px;
  border-top: 0.5px solid #E6E6E6; }

.step-indicator {
  position: absolute;
  left: 50%;
  transform: translateX(-50%); }

.step-indicator-item {
  display: inline-block;
  height: 8px;
  width: 8px;
  margin-right: 10px;
  border-radius: 100%;
  background-color: #D8D8D8; }

.step-indicator-item.active {
  background-color: #27C79A; }

.step-indicator-item:last-child {
  margin-right: 0; }

/*========================================== palette of style-guide ==================================================*/
/*=========================================== colors of components ===================================================*/
.teacher-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }

.teacher-list-header {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  border: 0.5px solid #F0F0F0;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13); }

.teacher-list-item {
  display: flex;
  justify-content: space-between;
  min-height: 68px;
  border: 0.5px solid #F0F0F0;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.13); }

.teacher-add-list-item {
  box-sizing: border-box;
  height: 68px;
  border: 1.5px dashed #D1D0D0;
  border-radius: 3px;
  color: #D1D0D0;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer; }

.teacher-list-column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 270px; }

.teacher-list-column-left {
  min-width: 260px; }

.teacher-list-column-right {
  min-width: 370px; }
