/*========================================== palette of style-guide ==================================================*/
$dark-blue: #2D3F51;

$white: #FFFFFF;
$green: #27C79A;
$red: #FFC76;
$blue: #87CFFF;
$yellow: #FFE07A;
$lilac: #887ACC;

$gray-200: #4A4A4A;
$gray-300: #6D6D6D;
$gray-500: #A4A09F;
$gray-700: #D1D0D0;
$gray-700: #D1D0D0;
$gray-800: #C5C5C5;
$gray-850: #F0F0F0;
$gray-900: #FBFBFB;

/*=========================================== colors of components ===================================================*/

$base-color-1: $dark-blue;
$base-color-2: $gray-900;

$font-color-light: $gray-500;
$font-color-base: $gray-300;
$font-color-dark: $gray-200;

$teacher-list-color: $white;