@import "../base/colors";

.breadcrumbs {
  margin-bottom: 30px;
}
.breadcrumbs-item {}
.breadcrumbs-item:not(:last-child):after {
  content: '›';
  display: inline-block;
  margin: 0 6px;
  font-size: 18px;
  color: $gray-800;
}
