@import "../base/colors";
@each $size in (10, 30) {
  @each $prop in (b: bottom, l: left, r: right, t: top) {
    .m-#{nth($prop, 1)}-#{$size} {
      margin-#{nth($prop, 2)}: #{$size}px !important;
    }
  }
}

@each $size in (30) {
  @each $prop in (b: bottom, l: left, r: right, t: top) {
    .p-#{nth($prop, 1)}-#{$size} {
      padding-#{nth($prop, 2)}: #{$size}px !important;
    }
  }
}

.letter-spacing-unset {
  letter-spacing: unset !important;
}
.container-1140 {
  max-width: 1140px;
  width: 100%;
}
.margin-center {
  margin-left: auto;
  margin-right: auto
}
.text-center {
  text-align: center;
}